/* Тут пиши основные стили */
body,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {margin:0;padding:0;}
body {
    position: relative;
}

h1, h2 {
    position: absolute;
    left: 360px;
    width: 700px;

    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    font-weight: bold;

    color: rgba(0,0,0,0.84);
    line-height: 44px;
}
p {
    position: absolute;
    width: 700px;
    left: 360px;

    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;

    color: rgba(0,0,0,0.84);
    line-height: 33px;
}

h1 {
    top: 55px;
    height: 88px;
}

#h2_1 {
    top: 534px;
    height: 39px;
}

#h2_2 {
    top: 870px;
    height: 39px;
}

#p1 {
    top: 153px;
    height: 326px;
}

#p2 {
    top: 583px;
    height: 231px;
}

#p3 {
    top: 919px;
    height: 132px;
}

#p4 {
    top: 1858px;
    height: 267px;
}

#p5 {
    top: 3128px;
    height: 165px;
}


@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}
