body,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
    margin:0;
    padding:0;
}

body {
    position: relative;
}

h1, h2 {
    position: absolute;
    left: 360px;
    width: 700px;

    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    font-weight: bold;

    color: rgba(0,0,0,0.84);
    line-height: 44px;
}

p {
    position: absolute;
    left: 360px;
    width: 700px;

    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;

    color: rgba(0,0,0,0.84);
    line-height: 33px;
}

img {
    position: absolute;
    left: 360px;
    width: 700px;
}

h1 {
    top: 55px;
}

#h2_1 {
    top: 534px;
}

#h2_2 {
    top: 870px;
}

#p1 {
    top: 153px;
}

#p2 {
    top: 583px;
}

#p3 {
    top: 919px;
}

#img_1 {
    top: 1094px;
}

#p4 {
    top: 1858px;
}

#img_2 {
    top: 2168px;
}

#p5 {
    top: 3128px;
}

@media (max-width: 800px) {
    h1, h2, p, img {
        position: static;
        width: auto;
        margin: 20px;
    }
}
